@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap");

body {
  background-color: #212529;
  background-color: #212529;
  font-family: "Roboto", sans-serif;
}
div {
  color: white;
  font-size: 28px;
}
header {
  display: flex;
  justify-content: space-between;
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  display: flex;

  margin-bottom: 10px;
  font-size: 16px;
}
nav a {
  color: white;
  text-decoration: none;
}
li {
  padding: 5px;
  
}
a:hover {
  border-bottom: 5px solid silver;
}
.example1 {
  border-bottom: 5px solid white;
}
h3 {
  margin-left: 20%;
  color: white;
}
main {
  text-align: center;
  color: white;
  margin: auto;
}
h1 {
  font-size: 2rem;
}
main {
  margin-top: 100px;
}
main button {
  padding: 12px 20px 12px 20px;
  background-color: white;
  border-radius: 7px;
  font-weight: bold;
  font-size: 15px;
  outline: none;
}
footer {
  justify-content: center;
  display: flex;
  margin-top: 200px;
}
footer p {
  color: rgba(0, 0, 0, 0.5);
}
 .footer {
  color: white;
  padding-bottom: 5%;
}
@media (max-width: 720px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}